<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6"><i class="fas fa-comment-dollar text-success"></i> Caixa Eletrônico - Saque</h1>
      <hr>
      <form>
        <div class="mb-3">
          <label class="form-label">Agência da conta origem</label>
          <input formValuetype="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Número da Conta origem</label>
          <input formValuetype="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Agência da conta destino</label>
          <input formValuetype="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Número da Conta destino</label>
          <input formValuetype="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Valor</label>
          <input formValuetype="text" class="form-control">
        </div>
        <a routerLink='/clientes' class="btn btn-primary">Cancelar</a>
        <button type="submit" class="btn btn-success mx-1">Transferir</button>
      </form>
    </div>
  </div>
</div>
