<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6"><i class="fas fa-address-card"></i> {{ formValue.get('id')?.value ? 'Edição': 'Cadastro'}} de Cliente</h1>
      <hr>
      <form [formGroup]="formValue" (ngSubmit)="enviar()">
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" formControlName="nome">
        </div>
        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
          <label class="form-label">CPF</label>
          <input type="text" class="form-control" formControlName="cpf">
        </div>
        <div class="mb-3">
          <label class="form-label">Observações</label>
          <textarea class="form-control" cols="30" rows="3" formControlName="observacoes"></textarea>
        </div>
        <a routerLink='/clientes' class="btn btn-danger me-md-2">Voltar</a>
        <button [disabled]="!formValue.valid" type="submit" class="btn btn-primary ">Enviar</button>
      </form>
    </div>
  </div>
</div>

