<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6"><i class="fas fa-address-card"></i>Formulario de cadastro de clientes</h1>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="floatingInput" placeholder="Douglas Luiz">
        <label for="floatingInput">Nome</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Endereço de email</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="cpf" class="form-control" id="floatingInput" placeholder="01020304050609">
        <label for="floatingInput">CPF</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="string" class="form-control" id="floatingInput" placeholder="observacoes">
        <label for="floatingTextarea">Observações</label>
      </div>
    </div>
  </div>
  <a class="btn btn-primary">Cadastrar</a>&nbsp;&nbsp;<a class="btn btn-danger" routerLink="/clientes">Cancelar</a>

</div>

