<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <display-name>treinamento</display-name>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <context-param>
        <param-name>com.ocpsoft.pretty.BASE_PACKAGES</param-name>
        <param-value>com.indracompany.treinamento</param-value>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
    	<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    	<param-value>true</param-value>
	</context-param>

    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.application</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

	<context-param>
	    <param-name>javax.faces.PROJECT_STAGE</param-name>
	    <param-value>Production</param-value>
	</context-param>
	
	<context-param>
	    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
	    <param-value>-1</param-value>
	</context-param>
	
	<!-- increase buffer size to avoid JSF1095 errors -->
	<context-param>
	    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
	    <param-value>131072</param-value>
	</context-param>
	
	<!-- Enable partial submit in PrimeFaces - this reduces the network traffic -->
	<context-param>
	    <param-name>primefaces.SUBMIT</param-name>
	    <param-value>partial</param-value>
	</context-param>
	
	<!-- Move above the fold scripts to the bottom (end of body).
	     This is a huge improvement of the visible rendering and removes flickering between navigations. -->
	<context-param>
	    <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
	    <param-value>true</param-value>
	</context-param>
	
	<!-- reduce saved view states -->
	<context-param>
	    <param-name>com.sun.faces.numberOfViewsInSession</param-name>
	    <param-value>15</param-value>
	</context-param>
	
	<!-- Disable ViewState compression (better performance but more memory usage) -->
	<context-param>
	    <param-name>com.sun.faces.compressViewState</param-name>
	    <param-value>false</param-value>
	</context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
