/* You can add global styles to this file, and also import other style files */
body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(131,131,152,1) 90%);
  color: white;
}

